.card__delete{
    background-color: var(--color-text-red);
    text-align: center;
    color: var(--color-text);
}

.card__delete:disabled{
    background-color: var(--color-text-ligth-light-gray);
}
.delete{
    display:flex;
    justify-content: end;
    margin: 15px 50px;
}