:root{
    --color-primary: #6C38CC;
    --color-secondary: #E47AD5;
    --color-text: #FAFAFA;
    --color-text-red: #DC143C;
    --color-text-ligth-red: #CD5C5C;
    --color-text-blue: #4682B4;
    --color-text-ligth-blue: #40E0D0;
    --color-text-green: #32CD32;
    --color-text-ligth-green: #98FB98;
    --color-text-gray: #808080;
    --color-text-ligth-gray: #C0C0C0;
    
    --border-6: 6px;
    --border-10: 10px;
}

* {
    box-sizing: border-box;
    
}

h1{
    margin: 0;
}

h2{
    margin: 0;
}

body{
    background-color: var(--color-secondary);
    margin: 0;
}

header{
    background-color: var(--color-primary);
}

.header__wrapper{
    max-width: var(--layout-width);
    padding: 5px 50px 15px;
}

.header__title{
    font-size: 35px;
    color: var(--color-text);
    margin: 0;
}


.section{
    max-width: var(--layout-width);
    margin: 0;
    display: flex;
    justify-content:space-between;
    padding: 20px 50px;
}

.section__second {
    gap: 20px;
}

.cell{
    
    display: flex;
    flex-direction: column;
    gap: 12px;
    
    width: 300px;
}

.tasks-area {
    display: flex;
    gap: 12px;
}